body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  margin: 0;
  padding: 15px 0;
  padding-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
